bin/meetingRoomOne
bin/meetingRoomTwo
#html/one/meetingRoomOneName
#html/one/meetingRoomOneTime
#html/one/meetingRoomOneAgenda
#html/one/meetingRoomOneNextName
#html/one/meetingRoomOneNextTime
#html/one/meetingRoomOneNextAgenda
#html/two/meetingRoomTwoName
#html/two/meetingRoomTwoTime
#html/two/meetingRoomTwoAgenda
#html/two/meetingRoomTwoNextName
#html/two/meetingRoomTwoNextTime
#html/two/meetingRoomTwoNextAgenda
.vagrant
ubuntu-xenial-16.04-cloudimg-console.log
gCal/credentials.json
gCal/token.pickle
gCal/env
